.login{
    width:100%;
    height:100%;
    background-color: rgb(145, 243, 197);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.login h2{
    margin-top: 50px;
}

.log-box{
    background-color: #fff;
    width:300px;
    margin: auto;
    border: 2px solid #3a3a3a;
    font-weight: bold;
}

.log-box tr{
    margin-left:auto;
    margin-right:auto;
    display: block;
    margin-top: 20px; 
    margin-bottom: 20px;
}
tr td{
    margin: auto;
    display: inline-block;
    text-align: center;
    
}

.text{
    margin-right:10px; 
}

.log-btn{
    margin-right: 30px;
    margin-bottom: 20px;
}



