#sidebar {
  position: fixed;
  top:0px;
  left:0px;
  display: block;
  float: left;
  width: 25%;
  height: 120vh;
  background-color: #57068C;
  color: #ffffff;
  text-align: center;
}

#user {
  padding-top: 30px;
  padding: 30px;
  font-size: 30px;
}

.active {
  pointer-events: none;
  background-color: #FFFFFF;
}

.active .sidebarlink {
  color: #57068C;
}

.sidebaritem {
  padding: 10px;
}

.sidebarlink {
  color: #FFFFFF;
  font-weight: 200;
}

.sidebaritem:hover {
  background-color: #FFFFFF;
}

.sidebaritem:hover .sidebarlink {
  text-decoration: none;
  color: #57068C;
}

.sidebarlink.active {
  background-color: #57068C;
}

.titles{
  background-color: #57068C;
}

.titiles1{
  background-color: #57068C;
}