#sidebar {
  position: fixed;
  top:0px;
  left:0px;
  display: block;
  float: left;
  width: 20%;
  height: 120vh;
  background-color: #57068C;
  color: #ffffff;
  text-align: center;
  z-index: 10
}

#user {
  padding-top: 30px;
  padding: 30px;
  font-size: 30px;
}

.in {
  display: inline-block;
  transform: rotate( 180deg );
  transition: transform 150ms ease;
}

.out {
  display: inline-block;
  transition: transform 150ms ease;
}

.show {
  opacity: 1;
  transition: all 0.3s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: max-height 0.3s, opacity 150ms;
}

.active {
  pointer-events: none;
  background-color: #FFFFFF;
}

.active .sidebarlink {
  color: #57068C;
}

.sidebaritem {
  padding: 10px;
}

.sidebarlink {
  color: #FFFFFF;
  font-weight: 200;
}

.submenu {
  padding: 3px;
}

.sidebaritem:hover,
.submenu:hover {
  background-color: #FFFFFF;
}

.sidebaritem:hover .sidebarlink,
.submenu:hover .sidebarlink {
  text-decoration: none;
  color: #57068C;
}

.sidebarlink.active {
  background-color: #57068C;
}