#cardlook {
  margin-top: 10px;
  margin-left: 32%;
  width: 60%;
}

#tcomplete{
  margin-top: 10px;
  margin-left: 450px;
  width: 680px;
}

.custom {
  border: #57068C;
  background-color: #57068C;
}

.TaskName .TaskTime{
  text-align: center;
}