#cardlook {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  left: 20%;
}

.done {
  color: grey;
}

.custom {
  border: #57068C;
  background-color: #57068C;
}

.block {
  position: absolute;
  top: 350px;
  left: 8%;
  width: 75%;
}