#tablelook {
  position: absolute;
  right: 250px;
  width: 480px;
  top: 200px;
  height: 20px;
  border: 3px solid green;
}

#user {
  padding-top: 30px;
  padding: 30px;
  font-size: 30px;
}

.sidebaritem {
  padding: 10px;
}

.sidebarlink {
  color: #FFFFFF;
  font-weight: 200;
}

.sidebaritem:hover {
  background-color: #FFFFFF;
}

.sidebaritem:hover .sidebarlink {
  text-decoration: none;
  color: #57068C;
}